{% extends "base.html" %} {% block titulo %} Inicia el coso! {%endblock titulo%}
{% block contenido %}
<h1 style="color: blue">HOLA GENTE! hoye es {{ hoy }}</h1>
<h2>{{ saludos.0 }} gente!</h2>
<h2>{{ saludos.1 }} people!</h2>
<h2>{{ saludos.2 }} pessoas!</h2>
<h2>{{ saludos.3 }} gentuza!</h2>
<h3>{{ idioma_saludos.es }} gente!</h3>
<h3>{{ idioma_saludos.en }} people!</h3>
<h3>{{ idioma_saludos.br }} pessoas!</h3>
{% endblock contenido %}
<ul class="list-group list-group-numbered align-items-center">
  {% for lenguaje in lenguajes %}
  <li style="color: {% cycle 'blue' 'red' %}">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Lenguaje</div>
      {{lenguaje | upper}}
    </div>
  </li>
  {% endfor %}
</ul>
