{% extends "base.html" %} 

{%block titulo%} segundo coso {%endblock titulo%}

{%block h1%} <h2>soy segundo html</h2> {%endblock h1%}
  

  {% block contenido %}
  {% load static %}
  <img src="{% static '/cosapp/img/DVO_photo-750x500.png' %}"

  <ul class="list-group list-group-numbered align-items-center">
    {% for lenguaje in lenguajes %}
    <li style="color: {% cycle 'blue' 'red' %}">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Lenguaje</div>
        {{lenguaje | upper}}
      </div>
    </li>
    {% endfor %}
  </ul>
  {% autoescape off %}
  <h1 style='color: red'>{{ heading }}</h1>
  {% endautoescape %}
  <ul>
  {% for atleta in atletas %}
  <li>{{ atleta }}</li>
  {% empty %}
  <li>Lo sentimos, no hay atletas en esta lista.</li>
  {% endfor %}
  </ul>
    

  {% endblock contenido %}
</body>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="background-color: darkcyan">
    <h2>soy segundo html</h2>
  </body>
</html>
